<!DOCTYPE html>
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:"es-ve" }}">
    {% include 'base/head.html' %}
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'base:home' %}">Adulto Mayor</a>
                </div>
                {% if request.user.is_authenticated %}
                <ul class="nav navbar-nav">
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Menú<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% if request.user.profile.level == 1 %}
                            <li><a href="{% url 'user:state_level_list' %}">Estadal</a></li>
                            <li><a href="{% url 'user:municipal_level_list' %}">Municipal</a></li>
                            <li><a href="{% url 'user:parish_level_list' %}">Parroquial</a></li>
                            <li><a href="{% url 'user:communal_council_level_list' %}">Consejo Comunal</a></li>
                            {% elif request.user.profile.level == 2 %}
                            <li><a href="{% url 'user:municipal_level_list' %}">Municipal</a></li>
                            <li><a href="{% url 'user:parish_level_list' %}">Parroquial</a></li>
                            <li><a href="{% url 'user:communal_council_level_list' %}">Consejo Comunal</a></li>
                            {% elif request.user.profile.level == 3 %}
                            <li><a href="{% url 'user:parish_level_list' %}">Parroquial</a></li>
                            <li><a href="{% url 'user:communal_council_level_list' %}">Consejo Comunal</a></li>
                            {% elif request.user.profile.level == 4 %}
                            <li><a href="{% url 'user:communal_council_level_list' %}">Consejo Comunal</a></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-user fa-lg" aria-hidden="true"></i> {{ request.user.username }}</a>
                    <ul class="dropdown-menu">
                        {% if request.user.profile.level == 1 %}
                        <li><a href="{% url 'user:national_level_update' request.user.id %}"> Perfil</a></li>
                        {% elif request.user.profile.level == 2 %}
                        <li><a href="{% url 'user:state_level_update' request.user.id %}"> Perfil</a></li>
                        {% elif request.user.profile.level == 3 %}
                        <li><a href="{% url 'user:municipal_level_update' request.user.id %}"> Perfil</a></li>
                        {% elif request.user.profile.level == 4 %}
                        <li><a href="{% url 'user:parish_level_update' request.user.id %}"> Perfil</a></li>
                        {% elif request.user.profile.level == 5 %}
                        <li><a href="{% url 'user:communal_council_level_update' request.user.id %}"> Perfil</a></li>
                        {% endif %}
                        <li><a href="{% url 'user:password_change' %}"> Cambiar Clave</a></li>
                        <li><a href="{% url 'user:logout' %}"><i class="fa fa-sign-out fa-lg" aria-hidden="true"></i> Salir</a></li>
                    </ul>
                </ul>
                {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'user:login' %}"><i class="fa fa-sign-in fa-lg" aria-hidden="true"></i> Iniciar Sesión</a></li>
                </ul>
                {% endif %}
            </div>
        </nav>

        <div class="container-fluid">
            <h2>{% block content_header_title %}{% trans 'Página Principal' %}{% endblock %}</h2>
            {% block contenido %}
                {% if request.user.is_authenticated %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="text-center">{{ texto1 }}</h4>
                        </div>
                        <div class="panel-body">
                            <h4 class="text-center">{{ texto2 }}</h4>
                        </div>
                    </div>
                {% endif %}
            {% endblock %}
        </div>
        {% include 'base/footer.html' %}
        {% block extra_footer %}

        {% endblock %}
    </body>
</html>
