{% load static from staticfiles %}
{% load i18n %}
<script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}" type="text/javascript"></script>
<!-- Bootstrap 3.3.7 -->
<script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}" type="text/javascript"></script>
<!-- Select2 -->
<script src="{% static 'node_modules/select2/dist/js/select2.full.min.js' %}" type="text/javascript"></script>
<script src="{% static 'node_modules/jquery-mask-plugin/dist/jquery.mask.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/functions.js' %}" type="text/javascript"></script>
<script src="{% static 'node_modules/datatables.net/js/jquery.dataTables.js' %}" type="text/javascript"></script>
<script src="{% static 'node_modules/datatables.net-buttons/js/dataTables.buttons.min.js' %}" type="text/javascript"></script>
<script src="{% static 'node_modules/datatables.net-bs/js/dataTables.bootstrap.js' %}" type="text/javascript"></script>
<script src="{% static 'node_modules/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'node_modules/datatables.net-buttons/js/buttons.html5.min.js' %}" type="text/javascript"></script>
<script src="{% static 'node_modules/datatables.net-buttons/js/buttons.flash.min.js' %}" type="text/javascript"></script>
<script src="{% static 'node_modules/datatables.net-buttons/js/buttons.print.min.js' %}" type="text/javascript"></script>
<script src="{% static 'node_modules/jszip/dist/jszip.min.js' %}" type="text/javascript"></script>
<script src="{% static 'node_modules/pdfmake/build/pdfmake.min.js' %}" type="text/javascript"></script>
<script src="{% static 'node_modules/pdfmake/build/vfs_fonts.js' %}" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function(){
        //muestra los mensajes centrados
        $('[data-toggle="tooltip"]').tooltip();

        //para agregar el select2 en los respectivos campos de tipo select
        $(".select2").select2();
    });

    $.extend( true, $.fn.dataTable.defaults, {
        "language": {
            "sProcessing":     "Procesando...",
            "sLengthMenu":     "Mostrar _MENU_ registros",
            "sZeroRecords":    "No se encontraron resultados",
            "sEmptyTable":     "Ningún dato disponible en esta tabla",
            "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix":    "",
            "sSearch":         "Buscar:",
            "sUrl":            "",
            "sInfoThousands":  ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst":    "Primero",
                "sLast":     "Último",
                "sNext":     "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            },
        },
    });
</script>
