{% load static from staticfiles %}
{% load i18n %}
<head>
	<meta charset="UTF-8">
	<title>{% trans 'Adulto Mayor' %}</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <meta name="description" content="{% trans 'Registro de los adultos mayores' %}">
    <meta name="author" content="William Páez (wpaez at cenditel.gob.ve)">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/select2/dist/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/ionicons/dist/css/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'node_modules/datatables.net-bs/css/dataTables.bootstrap.css' %}">
    {% block extra_head %}

    {% endblock %}
</head>
